<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}
<head>
    <title>Maps</title>
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}" >	</script>
</head>
<body>
<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-10 text-right menu-1 main-nav">
					<ul>
						<li><a href="/maps/home" >Home</a></li>
						<li class="active"><a href="/maps/" >Maps</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
<br><br><br>
<div class="row">
<div class="col-lg-7" id="map">
</div>
<div class="col-lg-5" id="stuff">
    <div class="label_area">
        <label><i>This section is for all gathered data on this subject!!</i></label>
    </div>
    <br></br>
    <div class="dates">
            <label for="from-date">From</label>
        <input type="date" id="from-date" min="1950-04-01" max="2050-04-01" required>
        <span class="validity"></span>
        <label for="to-date">To</label>
        <input type="date" id="to-date" min="1950-04-01" max="2050-04-01" required>
        <span class="validity"></span>
        </div>
    <br></br>
    <div class="text-area">
            <span class="glyphicon glyphicon-search"></span>
            <input name="text-entry" type ="text" id="text-area">
        </div>
    <br></br>
    <div class="radios">
            <label class="radio-inline">
            <input type="radio" class="radio" onchange="radio_checked(this)" value="flu" id="flu">FLU</label>
            <label class="radio-inline">
                <input type="radio" class="radio" onchange="radio_checked(this)" value="cholera" id="cholera">CHOLERA</label>
            <label class="radio-inline">
                <input type="radio" class="radio" onchange="radio_checked(this)" value="diphtheria" id="diphtheria">DIPHTHERIA</label>
                <label class="radio-inline">
                    <input type="radio" class="radio" onchange="radio_checked(this)" value="norovirus" id="norovirus">NOROVIRUS</label>
        </div>
    <br>
    <div class="mybutton">
            <button type="submit" onclick="button_clicked()">SEARCH</button>
    </div>
</div>
</div>
<script type="text/javascript">
    var map = L.map('map').setView([34.764321, -63.159494], 2);

    var osm = new L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        defaultZoom: 5,
        maxZoom: 20,
        minZoom: 3,
        scale: 'both',
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });

    osm.addTo(map);

    var datas = new L.GeoJSON.AJAX("{% url 'location' %}",{
            onEachFeature: function(feature, layer){
                layer.bindPopup("Text: " + feature.properties.text.toString() + "<br>" + "Type: " + jsUcfirst(feature.properties.types.toString()) + "<br>" + "Date of Creation: " + feature.properties.created_at);
            }
    }).addTo(map);

    document.getElementById('from-date').valueAsDate = new Date(2018,0,27);
    document.getElementById('to-date').valueAsDate = new Date(2018,0,27);

    function radio_checked(checkboxElem) {
        map.removeLayer(datas);
        filter_layer(checkboxElem.id)
    }

    function filter_layer(disease_type) {
	    var geoJSONLayer = new L.GeoJSON.AJAX("{% url 'location' %}", {
	        filter: function (feature, layer) {
	            if (disease_type === "flu"){
                    return feature.properties.types === "flu";
                }
                else if(disease_type === "cholera"){
                    return feature.properties.types === "cholera";
                }
                else if(disease_type === "diphtheria"){
                    return feature.properties.types === "diphtheria";
                }
                else{
                    return feature.properties.types === "norovirus";
                }
            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup("Text: " + feature.properties.text.toString() + "<br>" + "Type: " + jsUcfirst(feature.properties.types.toString()) + "<br>" + "Date of Creation: " + feature.properties.created_at);
            }
        }).addTo(map);
    }

    function isDateSelected() {
        var today = new Date(2018,0,27);
        var fromDate = new Date(document.getElementById("from-date").value);
        var d = new Date("April 01, 1950 11:13:00");
        var toDate = new Date(document.getElementById("to-date").value);
        if ((fromDate > today) || (toDate > today) || (toDate < d) || (fromDate < d) || (fromDate > toDate)) {
            return false
        }
    }

    function jsUcfirst(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function button_clicked() {
        var selectedVariants = [];
        $("input[type=radio]:checked").each(function () {
            selectedVariants += ($(this).val()) + ',';
            selectedVariants = selectedVariants.split(',');
        });
        if (isDateSelected() === false) {
            window.alert("Please enter a valid birthday");
        }

        map.eachLayer(function (layer) {
            map.removeLayer(layer);
        });
        osm.addTo(map);
        var lastGeoJSON = new L.GeoJSON.AJAX("{% url 'location' %}", {
            filter: function (feature, layer) {
                if(selectedVariants.length === 0){
                    if ((document.getElementById("text-area").value !== "") && (document.getElementById("from-date").value <= feature.properties.created_at) && (feature.properties.created_at <= document.getElementById("to-date").value)){
                        return feature.properties.text.includes(document.getElementById("text-area").value)
                    }
                    else if((document.getElementById("from-date").value <= feature.properties.created_at) && (feature.properties.created_at <= document.getElementById("to-date").value)){
                        return feature
                    }
                    else{
                        return false
                    }
                }
                else{
                    if (document.getElementById("text-area").value !== ""){
                        for(var stuff in selectedVariants){
                            if ((feature.properties.text.includes(document.getElementById("text-area").value)) && (feature.properties.types.toString() === selectedVariants[stuff]) && (document.getElementById("from-date").value <= feature.properties.created_at) && (feature.properties.created_at <= document.getElementById("to-date").value)){
                                return feature.properties.types.toString() === selectedVariants[stuff];
                                }
                        }
                    }
                    else{
                        for (var stuff in selectedVariants){
                            if((feature.properties.types.toString() === selectedVariants[stuff]) && (document.getElementById("from-date").value <= feature.properties.created_at) && (feature.properties.created_at <= document.getElementById("to-date").value)){
                            return feature.properties.types.toString() === selectedVariants[stuff];
                            }
                        }
                    }
                }

            },
            onEachFeature: function (feature, layer) {
                layer.bindPopup("Text: " + feature.properties.text.toString() + "<br>" + "Type: " + jsUcfirst(feature.properties.types.toString()) + "<br>" + "Date of Creation: " + feature.properties.created_at);
            }
        }).addTo(map);
    }

</script>
</body>
</html>